@page "/kontakt"
<style type="text/css">
    body
    {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(0,212,255,1) 100%);
        color: #FFFFFF;
        height: 100%;
        text-shadow: #000000 0.4em 0.4em 0.4em;
    }
</style>
<PageTitle>Kontakt</PageTitle>

<h3 class="mt-4" style="text-align:center">Kontakt</h3>
<div class="m-4">
    <h1>Która oferta cię interesuje ?</h1>
    <form>
      <div class="form-group mt-2">
        <label for="marka">Marka: </label>
        <input type="text" class="form-control" id="marka">
      </div>
      <div class="form-group mt-2">
        <label for="model">Model: </label>
        <input type="text" class="form-control" id="model">
      </div>
      <div class="form-group mt-2">
        <label for="dni">Ilość dni:</label>
        <input type="number" class="form-control" id="dni">
      </div>
      <div class="form-group mt-2">
        <label for="email">E-mail:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <button class="btn btn-primary mt-4">Wyślij, a wkrótce odezwiemy się do ciebie z ofertą</button>
     </form>
</div>

